nav {
  display: flex;
  flex-wrap: wrap;
  min-height: 35px;
  justify-content: center;
  color: white;
  background-color: rgb(72, 85, 141);
}
a {
  color: rgb(247, 238, 238);
  padding: 2%;
}
button {
  background-color: rgb(72, 85, 141);
}
