{% extends "base.html" %} {% block nav %}
<nav class="navbar navbar-light bg-light">
  <div class="col-4">
    <div class="float-right logo-margin">
      <div>
        <a class="logo-font" href="/">
          <p><i class="fas fa-car"></i> | InstaCar</p>
        </a>
      </div>
    </div>
  </div>
  {% if request.user.is_authenticated %}
  <div class="col-8">
    <div class="float-right">
        <div class="row mb-4">
        <div class="d-flex justify-content-end"></div>
      <p class="mx-auto navbar-brand text-right">
        <a
          href="/{{request.user.username}}"
          role="button"
          class="btn btn-primary btn-lg"
          >Profile</a
        >
      </p>
      <p class="mx-auto navbar-brand text-right">
        <a href="/newpost/" role="button" class="btn btn-primary btn-lg"
          >Post a Car</a
        >
      </p>
      <p class="mx-auto navbar-brand text-right">
        <a href="/logout/" role="button" class="btn btn-primary btn-lg"
          >Log Out</a
        >
      </p>
      {% else %}
      <p class="mx-auto navbar-brand text-right">
        <a href="/signup/" role="button" class="btn btn-primary btn-lg"
          >Sign Up</a
        >
      </p>
      <p class="mx-auto navbar-brand text-right">
        <a href="/login/" role="button" class="btn btn-primary btn-lg"
          >Log In</a
        >
      </p>
    </div>
      </div>
    </div>
  </div>
  {% endif %}

</nav>


{% endblock %}
