{% extends "base.html" %}
{% block content %}
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    2   <div class="modal-dialog">
    3     <div class="modal-content">
    4       <div class="modal-header">
    5         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    6         <h4 class="modal-title">Modal title</h4>
    7       </div>
    8       <div id="form-modal-body" class="modal-body">
    9         ...
   10       </div>
   11       <div class="modal-footer">
   12         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   13       </div>
   14     </div>
   15   </div>
   16 </div>
  {% endblock %}