{% extends "base.html" %} {% block content %}
<div>
  <nav>
    <a href="/">Home</a>
  </nav>
</div>

<div>
  {% if car.car_image %}
  <img
    class="img-thumbnail"
    src="{{ car.car_image.url }}"
    alt="{{ car.model }}"
    style="width: 300px; max-height: 600px"
  />
  {% else %}
  <img
    class="img-thumbnail"
    src="/static/images/fillerphoto.png"
    alt="{{ car.model }}"
    style="width: 300px; max-height: 600px"
  />
  {% endif %}

  <p>Posted by: {{car.poster}}</p>
  <p>At: {{ car.time_posted}}</p>
  <p>Make: {{car.make}}</p>
  <p>Model: {{car.model}}</p>
  <p>Color: {{car.color}}</p>
  <p>Year: {{car.year}}</p>
  <p>Thumb's up: {{ car.total_votes}}</p>
  <button><a href="/upvote/{{ car.id }}/">Thumb's up</a></button>
  <button>
    <a href="/downvote/{{ car.id }}/">Thumb's down</a>
  </button>
  <button><a href="newcomment/">Add a comment</a></button>
</div>
{% if request.user.id == car.poster.id %}
<a href="edit/" style="color: black">Edit Post</a>
<a
  href="delete/"
  style="color: black"
  onclick="return confirm('Are you sure you want to delete this post?')"
  >Delete post</a
>
{% endif %} {% for comment in comment_list %}
<div>
  <div>{{ comment.created_on }}</div>
  <strong>{{ comment.commenter }}</strong>
  <p>{{ comment.content|linebreaks }}</p>
  {% if request.user.id == car.poster.id or request.user.id ==
  comment.commenter.id%}
  <a href="/comment/{{comment.id}}/delete">Delete Comment</a>
  <a href="/comment/{{comment.id}}/edit">Edit Comment</a>
  {% empty %}
  <p>No comments here yet :(</p>
  {% endfor %}
</div>
{% endblock %}
