{% extends "base.html" %} {% block content %} 
<div>
    <nav>
      <a href="/">Home</a>
    </nav>
  </div>
  
<div>
    {% if not info %}
    <h2>The user you are looking for does not exist</h2>
    {% else %}
    <h1>{{ info.username }}</h1>
  
    <div>
      {% if info.profile_image %}
      <img
        class="img-thumbnail"
        src="{{ info.profile_image.url }}"
        alt="{{ info.username }}"
        style="width: 150px; max-height: 200px"
      />
      {% else %}
      <img
        class="img-thumbnail"
        src="/static/images/fillerphoto.png"
        alt="{{ info.username }}"
        style="width: 150px; max-height: 200px"
      />
      {% endif %}
    </div>
  </br>
  <div>
    <i>InstaCar member since: {{ info.joined_date }}</i>
    <p>My website: {{info.website}}</p>
    <p>About me: {{info.bio}}</p>
    {% endif %}
</div>
  </div>
{% endblock %}
