{% extends "base.html" %} {% block content %} 
<div>
    <nav>
      <a href="/">Home</a>
    </nav>
  </div>
  
<div>
    {% if not info %}
    <h2>The user you are looking for does not exist</h2>
    {% else %}
    <h1>{{ info.username }}</h1>
    {{ info }}
    {% if request.user.id == info.id %}
    <a href='/{{info.username}}/edit/' style="color: black">Edit Profile</a>
    {% endif %}
    <div>
      {% if info.profile_image %}
      <img
        class="img-thumbnail"
        src="{{ info.profile_image.url }}"
        alt="{{ info.username }}"
        style="width: 150px; max-height: 200px"
      />
      {% else %}
      <img
        class="img-thumbnail"
        src="/static/images/fillerphoto.png"
        alt="{{ info.username }}"
        style="width: 150px; max-height: 200px"
      />
      {% endif %}
    </div>
  </br>
  <div>
    <i>InstaCar member since: {{ info.joined_date }}</i>
    <p>My website: {{info.website}}</p>
    <p>About me: {{info.bio}}</p>
    <h1>My Uploads</h1>
    {% if my_uploads %}
    {% for uploads in my_uploads %}
    <a href="/post/{{uploads.id}}/">
    <img
    class="img-thumbnail"
    src="{{ uploads.car_image.url }}"
    alt="morty"
    style="width: 50px; max-height: 80px"
    />
  </a>
    {% endfor %}
    {% else %}
    <h1>You have not uploaded and cars yet</h1>
    {% endif %}
    {% endif %}
</div>
  </div>
{% endblock %}
